.env
venv
.idea
__pycache__
lab02/Scripts/sprint01/repositorios_clonados
lab02/Scripts/sprint02/repositorios_clonados
lab02/Scripts/sprint02/results
/.vs/lab-experimentacao-software/FileContentIndex/39bf9733-0240-46d3-b004-d4ed4306447e.vsidx
/.vs/lab-experimentacao-software/FileContentIndex/20db7b22-bef9-48df-9c79-8d7baa866b15.vsidx
/.vs/lab-experimentacao-software/FileContentIndex/d888f41e-e5c0-4856-8060-8146994775fe.vsidx
/.vs/lab-experimentacao-software/FileContentIndex/read.lock
/.vs
